repos:
  - repo: local
    hooks:
      - id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^src/
        types: [python]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "src","src/tests"]
        language: system
        types: [python]

  - repo: local
    hooks:
      - id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "src","src/tests"]
        language: system
        types: [python]